<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <filter-name>FipUploadFilter</filter-name>
    <filter-class>es.mitc.redes.urbanismoenred.consola.filtros.FiltroArchivos</filter-class>
    <init-param>
      <description>The maximum allowed upload size in bytes.  If this is set to a negative value, there is no maximum.  The default value is 1000000.</description>
      <param-name>maxFileSize</param-name>
      <param-value>-1</param-value>
    </init-param>
    <init-param>
      <description>The size (in bytes) of an uploaded file which, if it is exceeded, will cause the file to be written directly to disk instead of stored in memory.  Files smaller than or equal to this size will be stored in memory.  The default value is 4096.</description>
      <param-name>sizeThreshold</param-name>
      <param-value>4096</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FipUploadFilter</filter-name>
    <servlet-name>ActionServletValidacionFIP</servlet-name>
  </filter-mapping>
  <context-param>
    <param-name>wsdl-url</param-name>
    <param-value>http://localhost:8080/urbanismoenredWS/urbrWS?WSDL</param-value>
  </context-param>
  <servlet>
    <servlet-name>GestionConsola</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.GestionConsola</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletRPM</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletRPM</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletUsuarios</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletUsuarios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletSeguridad</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletSeguridad</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletDic</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletDic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletPlanBase</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletPlanBase</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletDiarioDeOperaciones</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletDiarioDeOperaciones</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletValidacionFIP</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletValidacionFIP</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletConsolidacion</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletConsolidacion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletRefundido</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletRefundido</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletConfig</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletConfig</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletConfiguradorFichas</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletConfiguradorFichas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServletPreviewVisor</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletPreviewVisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServletSeguridad</servlet-name>
    <url-pattern>/ActionServletSeguridad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletConsolidacion</servlet-name>
    <url-pattern>/ActionServletConsolidacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletRefundido</servlet-name>
    <url-pattern>/ActionServletRefundido</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionConsola</servlet-name>
    <url-pattern>/GestionConsola</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletRPM</servlet-name>
    <url-pattern>/ActionServletRPM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletUsuarios</servlet-name>
    <url-pattern>/ActionServletUsuarios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletDic</servlet-name>
    <url-pattern>/ActionServletDic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletPlanBase</servlet-name>
    <url-pattern>/ActionServletPlanBase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletDiarioDeOperaciones</servlet-name>
    <url-pattern>/ActionServletDiarioDeOperaciones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletValidacionFIP</servlet-name>
    <url-pattern>/ActionServletValidacionFIP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletConfig</servlet-name>
    <url-pattern>/ActionServletConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletConfiguradorFichas</servlet-name>
    <url-pattern>/ActionServletConfiguradorFichas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServletPreviewVisor</servlet-name>
    <url-pattern>/ActionServletPreviewVisor</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet para la gestión de planes.</description>
    <display-name>ActionServletGestionPlanes</display-name>
    <servlet-name>ActionServletGestionPlanes</servlet-name>
    <servlet-class>es.mitc.redes.urbanismoenred.consola.servlets.ActionServletGestionPlanes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionServletGestionPlanes</servlet-name>
    <url-pattern>/ActionServletGestionPlanes</url-pattern>
  </servlet-mapping>
</web-app>